<div class="container">
    <h2>{{opcion}}categoria</h2>
    <form  #categoriaForm="ngForm">
        <!--Este campo(id) se oculta cuando quieremos insertar una categoria-->
        <div class="form-group" [hidden]="estoyInsertando">
            <label for="id">Id: </label>
            <!--El campo id no es modificable -->
            <input type="text" class="form-control" id="id" required [readOnly]="soloLectura"
                [(ngModel)]="categoria.id_categoria" name="id">
        </div>
        <div class="form-group">
            <label for="nombre">Nombre: </label>
            <!--Este campo es solo de lectura cuando queremos eliminar la categoria-->
            <input type="text" class="form-control" id="nombre" required [readOnly]="estoyEliminando"
                [(ngModel)]="categoria.cat_nombre" name="nombre" required minlength="5" maxlength="20" #name="ngModel">
        
                <div *ngIf="name.invalid && (name.touched || name.dirty)" class="alert">
            
              <div *ngIf="name.errors?.['required']">
                Campo nombre es obligatorio
              </div>
              <div *ngIf="name.errors?.['minlength']">
                Campo nombre debe tener al menos 5 caracteres.
              </div>
              <div *ngIf="name.errors?.['maxlength']">
                Campo nombre con longitud maxima 20 caracteres 
              </div>
            </div>
        
        
            </div>

        <div class="form-group">
            <label for="descripcion">Descripcion: </label>
            <!--Este campo es solo de lectura cuando queremos eliminar la categoria-->
            <input type="text" class="form-control" id="descripcion" [readOnly]="estoyEliminando"
                [(ngModel)]="categoria.cat_descripcion" name="descripcion" maxlength="200">
        </div>

        <div class ="mt-5">
            <!--Cuando campo nombre no es valido, no hay evento-->
            <button type="button" class="btn btn-primary " (click)="name.invalid ? nada(): accion()">{{opcion}}</button>
            <button type="button" class="btn btn-primary mx-5" (click)="cancelar()">Cancelar</button>

        </div>

    </form>


</div>